#btn {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  flex: 1;
  margin-right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

#btntext {
  font-size: 14px;
  color: white;
  font-weight: 500;
}
